{% if site.staticman.enabled %}
<section class="comments">
  <hr>
  <div class="comments__existing">
    <h2>Comments</h2>
    {% if site.data.comments[page.slug] %}
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to == ''" %}
    {% assign comments_by_date = comments | sort: 'date' | reverse %}
    {% for comment in comments_by_date %}
      {% include staticman/comment-entry.html comment=comment %}
    {% endfor %}
    {% else %}
    <div>No comment yet :D</div>
    {% endif %}
  </div>
  <div class="comments__new">
    <h2>Post comment</h2>
    {% unless site.staticman.readonly %}
    {% include staticman/form.html %}
    {% else %}
    <div>Commenting is disabled</div>
    {% endunless %}
  </div>
</section>
{% endif %}
